:root {
  /* violet */
  --primary-color: 47, 167, 255;
  /* white */
  --text-color: 256, 256, 256;
  letter-spacing: 1em;
}

body {
  background: transparent;
  background-image: url('./img/Background.jpeg');
}

html {
  font-size: 12px;
  letter-spacing: 1em;
}

#app {
  letter-spacing: .1em;
}

.back-card-button {
  border-radius: 3px;
  margin: 0.5em;
  height: 246px;
  width: 168px;
  background-image: url('./img/Yugioh-Back.png');
  cursor: pointer;
}

.back-card-button:hover {
    transform: translateY(-5%);
}

.card-container {
  padding-top: 1rem;
  width: 169px;
  height: 247px;
  margin-right: 1rem;
}

.card-transition-enter {
  opacity: 0;
  transform: scale(0.9);
}

.card-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 600ms, transform 600ms;
}

.card-transition-exit {
  opacity: 1;
}

.card-transition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 600ms, transform 600ms;
}
.loading-image {
  object-fit: cover;
}
.logout-container {
  display:flex;
  width: 24rem;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  padding: 1rem;
  padding-left: 5rem;
  margin-top: 4rem;
  margin-left: 64rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 50px;
  color: rgb(var(--text-color));
  background-color: rgba(var(--primary-color), 0.50);
  border: 1px solid rgba(var(--primary-color), 0.75);
  color: rgba(var(--text-color), 0.8);
}

.title {
  margin-left: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 80px rgba(241, 241, 241, 0.75), 0 0 32px rgba(47, 167, 255);
}

.title-gradient {
  font-size: 2rem;
  background: linear-gradient(to right, #2fa7ff
  , #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
